# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# macOS
.DS_Store

# YOLO / outputs
runs/
outputs/
tracker_stubs/

# Local data & weights (keep local, don't push)
input_videos/
datasets/
*.pt
*.pth
*.onnx
*.bin
*.engine

# Big media
*.mp4
*.mov
*.avi
*.mkv
*.jpg
*.pkl
*.png
